<?xml version="1.0" encoding="utf-8"?>
<!--Visual Surveillance System configuration file-->
<Application>
  <MainWindow x="100" y="50" width="800" height="600" cameraBar="True" vsCameraBarWidth="150" />
  <Autorun Type="0" Item="0" />
  <LocalHost Host="localhost" Storage="d:\vsdata" />
  <DataHost Host="localhost" HostIP="172.30.142.107" User="kom" Passwd="123" Database="vsa-main" DatabaseClient="vsa-client" />
  <SmtpHost Host="fivedots.coe.psu.ac.th " User="kom" Passwd="" EmailFrom="kom@fivedots.coepsu.ac.th" EmailTo="kom@fivedots.coe.psu.ac.th" />
  <Synchronize Timer="100" />
  <Actions Previewing="False" Streaming="False" Analysing="False" Recording="False" DataAlerting="False" EventAlerting="False" />
</Application>