<?xml version="1.0" encoding="utf-8"?>
<!--Visual Surveillance System configuration file-->
<Cameras>
  <Camera id="1" name="camera-211m-01.coe.psu.ac.th" desc="" provider="Vs.Provider.Axis.Axis2110Description" source="camera-211m-01.coe.psu.ac.th" login="root" password="l0o=0-85" size="640x480" stype="1" interval="100" analyzer="Vs.Analyzer.MotionDetection.VsMotionDetectionDescription" ThresholdAlpha="0" ThresholdSigma="0" encoder="Vs.Encoder.Wmv.VsWmvEncoderDescription" ImageWidth="640" ImageHeight="480" CodecsName="Windows Media Codecs 9.0" Quality="100" />
  <Camera id="2" name="camera-211m-02.coe.psu.ac.th" desc="" provider="Vs.Provider.Axis.Axis2110Description" source="camera-211m-02.coe.psu.ac.th" login="root" password="l0o=0-85" size="640x480" stype="1" interval="100" analyzer="Vs.Analyzer.MotionDetection.VsMotionDetectionDescription" ThresholdAlpha="0" ThresholdSigma="0" encoder="Vs.Encoder.Wmv.VsWmvEncoderDescription" ImageWidth="640" ImageHeight="480" CodecsName="Windows Media Codecs 9.0" Quality="100" />
  <Camera id="3" name="camera-211m-03.coe.psu.ac.th" desc="" provider="Vs.Provider.Axis.Axis2110Description" source="camera-211m-03.coe.psu.ac.th" login="root" password="l0o=0-85" size="640x480" stype="1" interval="100" analyzer="Vs.Analyzer.MotionDetection.VsMotionDetectionDescription" ThresholdAlpha="0" ThresholdSigma="0" encoder="Vs.Encoder.Wmv.VsWmvEncoderDescription" ImageWidth="640" ImageHeight="480" CodecsName="Windows Media Codecs 9.0" Quality="100" />
  <Camera id="4" name="camera-211m-04.coe.psu.ac.th" desc="" provider="Vs.Provider.Axis.Axis2110Description" source="camera-211m-04.coe.psu.ac.th" login="root" password="l0o=0-85" size="640x480" stype="1" interval="100" analyzer="Vs.Analyzer.MotionDetection.VsMotionDetectionDescription" ThresholdAlpha="0" ThresholdSigma="0" encoder="Vs.Encoder.Wmv.VsWmvEncoderDescription" ImageWidth="640" ImageHeight="480" CodecsName="Windows Media Codecs 9.0" Quality="100" />
  <Camera id="5" name="camera-211m-05.coe.psu.ac.th" desc="" provider="Vs.Provider.Axis.Axis2110Description" source="camera-211m-05.coe.psu.ac.th" login="root" password="l0o=0-85" size="640x480" stype="1" interval="100" analyzer="Vs.Analyzer.MotionDetection.VsMotionDetectionDescription" ThresholdAlpha="0" ThresholdSigma="0" encoder="Vs.Encoder.Wmv.VsWmvEncoderDescription" ImageWidth="640" ImageHeight="480" CodecsName="Windows Media Codecs 9.0" Quality="100" />
  <Camera id="6" name="camera-210-01.coe.psu.ac.th" desc="" provider="Vs.Provider.Axis.Axis2100Description" source="camera-210-01.coe.psu.ac.th" login="root" password="l0o=0-85" size="640x480" stype="1" interval="100" analyzer="Vs.Analyzer.MotionDetection.VsMotionDetectionDescription" ThresholdAlpha="0" ThresholdSigma="0" encoder="Vs.Encoder.Wmv.VsWmvEncoderDescription" ImageWidth="640" ImageHeight="480" CodecsName="Windows Media Codecs 9.0" Quality="100" />
  <Camera id="7" name="camera-210-02.coe.psu.ac.th" desc="" provider="Vs.Provider.Axis.Axis2100Description" source="camera-210-02.coe.psu.ac.th" login="root" password="l0o=0-85" size="640x480" stype="1" interval="100" analyzer="Vs.Analyzer.MotionDetection.VsMotionDetectionDescription" ThresholdAlpha="0" ThresholdSigma="0" encoder="Vs.Encoder.Wmv.VsWmvEncoderDescription" ImageWidth="640" ImageHeight="480" CodecsName="Windows Media Codecs 9.0" Quality="100" />
  <Camera id="8" name="camera-210-03.coe.psu.ac.th" desc="" provider="Vs.Provider.Axis.Axis2100Description" source="camera-210-03.coe.psu.ac.th" login="root" password="l0o=0-85" size="640x480" stype="1" interval="100" analyzer="Vs.Analyzer.MotionDetection.VsMotionDetectionDescription" ThresholdAlpha="0" ThresholdSigma="0" encoder="Vs.Encoder.Wmv.VsWmvEncoderDescription" ImageWidth="640" ImageHeight="480" CodecsName="Windows Media Codecs 9.0" Quality="100" />
  <Camera id="9" name="camera-210-04.coe.psu.ac.th" desc="" provider="Vs.Provider.Axis.Axis2100Description" source="camera-210-04.coe.psu.ac.th" login="root" password="l0o=0-85" size="640x480" stype="1" interval="100" analyzer="Vs.Analyzer.MotionDetection.VsMotionDetectionDescription" ThresholdAlpha="0" ThresholdSigma="0" encoder="Vs.Encoder.Wmv.VsWmvEncoderDescription" ImageWidth="640" ImageHeight="480" CodecsName="Windows Media Codecs 9.0" Quality="100" />
  <Camera id="10" name="camera-210-05.coe.psu.ac.th" desc="" provider="Vs.Provider.Axis.Axis2100Description" source="camera-210-05.coe.psu.ac.th" login="root" password="l0o=0-85" size="640x480" stype="1" interval="100" analyzer="Vs.Analyzer.MotionDetection.VsMotionDetectionDescription" ThresholdAlpha="0" ThresholdSigma="0" encoder="Vs.Encoder.Wmv.VsWmvEncoderDescription" ImageWidth="640" ImageHeight="480" CodecsName="Windows Media Codecs 9.0" Quality="100" />
  <Camera id="11" name="camera-210-06.coe.psu.ac.th" desc="" provider="Vs.Provider.Axis.Axis2100Description" source="camera-210-06.coe.psu.ac.th" login="root" password="l0o=0-85" size="640x480" stype="1" interval="100" analyzer="Vs.Analyzer.MotionDetection.VsMotionDetectionDescription" ThresholdAlpha="0" ThresholdSigma="0" encoder="Vs.Encoder.Wmv.VsWmvEncoderDescription" ImageWidth="640" ImageHeight="480" CodecsName="Windows Media Codecs 9.0" Quality="100" />
  <Camera id="12" name="camera-210-07.coe.psu.ac.th" desc="" provider="Vs.Provider.Axis.Axis2100Description" source="camera-210-07.coe.psu.ac.th" login="root" password="l0o=0-85" size="640x480" stype="1" interval="100" analyzer="Vs.Analyzer.MotionDetection.VsMotionDetectionDescription" ThresholdAlpha="0" ThresholdSigma="0" encoder="Vs.Encoder.Wmv.VsWmvEncoderDescription" ImageWidth="640" ImageHeight="480" CodecsName="Windows Media Codecs 9.0" Quality="100" />
  <Camera id="13" name="camera-210-08.coe.psu.ac.th" desc="" provider="Vs.Provider.Axis.Axis2100Description" source="camera-210-08.coe.psu.ac.th" login="root" password="l0o=0-85" size="640x480" stype="1" interval="100" analyzer="Vs.Analyzer.MotionDetection.VsMotionDetectionDescription" ThresholdAlpha="0" ThresholdSigma="0" encoder="Vs.Encoder.Wmv.VsWmvEncoderDescription" ImageWidth="640" ImageHeight="480" CodecsName="Windows Media Codecs 9.0" Quality="100" />
  <Camera id="14" name="camera-210-09.coe.psu.ac.th" desc="" provider="Vs.Provider.Axis.Axis2100Description" source="camera-210-09.coe.psu.ac.th" login="root" password="l0o=0-85" size="640x480" stype="1" interval="100" analyzer="Vs.Analyzer.MotionDetection.VsMotionDetectionDescription" ThresholdAlpha="0" ThresholdSigma="0" encoder="Vs.Encoder.Wmv.VsWmvEncoderDescription" ImageWidth="640" ImageHeight="480" CodecsName="Windows Media Codecs 9.0" Quality="100" />
  <Camera id="15" name="camera-215ptz-01.coe.psu.ac.th" desc="" provider="Vs.Provider.Axis.Axis2110Description" source="camera-215ptz-01.coe.psu.ac.th" login="root" password="l0o=0-85" size="640x480" stype="1" interval="100" analyzer="Vs.Analyzer.MotionDetection.VsMotionDetectionDescription" ThresholdAlpha="0" ThresholdSigma="0" encoder="Vs.Encoder.Wmv.VsWmvEncoderDescription" ImageWidth="640" ImageHeight="480" CodecsName="Windows Media Codecs 9.0" Quality="100" />
</Cameras>