<?xml version="1.0" encoding="utf-8"?>
<!--Visual Surveillance System configuration file-->
<appSettings>
  <add key="ConnectionString" value="server=localhost;port=3306;user id=root; password=root; database=vsa-main; pooling=False" />
  <add key="HostIP" value="172.30.142.107" />
</appSettings>