<?xml version="1.0" encoding="utf-8"?>
<Cameras>
  <Camera id="7" name="Local Edge Detection" desc="" run="False" analyse="False" record="False" event="False" data="False" provider="Vs.Provider.Local.CaptureDeviceDescription" source="@device:pnp:\\?\usb#vid_045e&amp;pid_00f7&amp;mi_00#6&amp;26d925e7&amp;0&amp;0000#{65e8773d-8f56-11d0-a3b9-00a0c9223196}\global" analyzer="Vs.Analyzer.EdgeDetection.VsEdgeDetectionDescription" ThresholdStrong="0" ThresholdWeak="0" />
  <Camera id="8" name="Local Ellipse Detection" desc="" run="False" analyse="False" record="False" event="False" data="False" provider="Vs.Provider.Local.CaptureDeviceDescription" source="@device:pnp:\\?\usb#vid_045e&amp;pid_00f7&amp;mi_00#6&amp;26d925e7&amp;0&amp;0000#{65e8773d-8f56-11d0-a3b9-00a0c9223196}\global" analyzer="Vs.Analyzer.EllipseDetection.VsEllipseDetectionDescription" Threshold="0" />
  <Camera id="9" name="Face Quality Detection" desc="" run="False" analyse="False" record="False" event="False" data="False" provider="Vs.Provider.Local.CaptureDeviceDescription" source="@device:pnp:\\?\usb#vid_045e&amp;pid_00f7&amp;mi_00#6&amp;26d925e7&amp;0&amp;0000#{65e8773d-8f56-11d0-a3b9-00a0c9223196}\global" analyzer="Vs.Analyzer.FqiDetection.VsFqiDetectionDescription" Threshold="0" />
  <Camera id="10" name="Licence Plate Detection" desc="" run="False" analyse="False" record="False" event="False" data="False" provider="Vs.Provider.Local.CaptureDeviceDescription" source="@device:pnp:\\?\usb#vid_045e&amp;pid_00f7&amp;mi_00#6&amp;26d925e7&amp;0&amp;0000#{65e8773d-8f56-11d0-a3b9-00a0c9223196}\global" analyzer="Vs.Analyzer.LipDetection.VsLipDetectionDescription" Threshold="0" />
  <Camera id="11" name="Line Detection" desc="" run="False" analyse="False" record="False" event="False" data="False" provider="Vs.Provider.Local.CaptureDeviceDescription" source="@device:pnp:\\?\usb#vid_045e&amp;pid_00f7&amp;mi_00#6&amp;26d925e7&amp;0&amp;0000#{65e8773d-8f56-11d0-a3b9-00a0c9223196}\global" analyzer="Vs.Analyzer.LineDetection.VsLineDetectionDescription" ThresholdStrong="0" ThresholdWeak="0" ThresholdHough="100" />
  <Camera id="12" name="Motion History" desc="" run="False" analyse="False" record="False" event="False" data="False" provider="Vs.Provider.Local.CaptureDeviceDescription" source="@device:pnp:\\?\usb#vid_045e&amp;pid_00f7&amp;mi_00#6&amp;26d925e7&amp;0&amp;0000#{65e8773d-8f56-11d0-a3b9-00a0c9223196}\global" analyzer="Vs.Analyzer.MotionHistory.VsMotionHistoryDescription" ThresholdAlpha="0" ThresholdSigma="0" />
  <Camera id="13" name="Motion Segmentation" desc="" run="False" analyse="False" record="False" event="False" data="False" provider="Vs.Provider.Local.CaptureDeviceDescription" source="@device:pnp:\\?\usb#vid_045e&amp;pid_00f7&amp;mi_00#6&amp;26d925e7&amp;0&amp;0000#{65e8773d-8f56-11d0-a3b9-00a0c9223196}\global" analyzer="Vs.Analyzer.MotionSegmentation.VsMotionSegmentationDescription" ThresholdAlpha="0" ThresholdSigma="0" />
  <Camera id="14" name="Object Detection" desc="" run="False" analyse="False" record="False" event="False" data="False" provider="Vs.Provider.Local.CaptureDeviceDescription" source="@device:pnp:\\?\usb#vid_045e&amp;pid_00f7&amp;mi_00#6&amp;26d925e7&amp;0&amp;0000#{65e8773d-8f56-11d0-a3b9-00a0c9223196}\global" analyzer="Vs.Analyzer.ObjectDetection.VsObjectDetectionDescription" SelectedObject="-1" />
  <Camera id="15" name="Optical Flow" desc="" run="False" analyse="False" record="False" event="False" data="False" provider="Vs.Provider.Local.CaptureDeviceDescription" source="@device:pnp:\\?\usb#vid_045e&amp;pid_00f7&amp;mi_00#6&amp;26d925e7&amp;0&amp;0000#{65e8773d-8f56-11d0-a3b9-00a0c9223196}\global" analyzer="Vs.Analyzer.OpticalFlow.VsOpticalFlowDescription" ThresholdAlpha="0" ThresholdSigma="0" />
  <Camera id="16" name="Square detection" desc="" run="False" analyse="False" record="False" event="False" data="False" provider="Vs.Provider.Local.CaptureDeviceDescription" source="@device:pnp:\\?\usb#vid_045e&amp;pid_00f7&amp;mi_00#6&amp;26d925e7&amp;0&amp;0000#{65e8773d-8f56-11d0-a3b9-00a0c9223196}\global" analyzer="Vs.Analyzer.SquareDetection.VsSquareDetectionDescription" Threshold="0" />
</Cameras>